body {
    margin: 0;
    background-color: #f9d0ce;
    font-family: 'Poppins', sans-serif;
}

/* ===== LOGO E TÍTULO ===== */
.logo-container {
    display: flex;
    align-items: center;
    gap: 50px;
    flex-wrap: nowrap;
    max-width: 300px;
}

.logo-text {
    font-size: 32px;
    font-weight: 700;
    color: #4a3f35;
    margin: 0;
    white-space: nowrap;
}

/* ===== CABEÇALHO ===== */
header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: #F3EBD8;
    padding: 10px 30px;
}

header img {
    width: 230px; 
    height: auto;
}

/* ===== MENU ===== */
nav ul {
    list-style: none;
    display: flex;
    gap: 90px; 
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #4a3f35;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s;
}

nav a:hover {
    color: #F297A0;
}

/* ===== FORMULÁRIO ===== */
main {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}

.form-section {
    background-color: #fff6f6;
    padding: 20px 40px;
    border-radius: 20px;
    max-width: 700px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form-section h1 {
    color: #4a3f35;
    text-align: center;
    margin-bottom: 10px;
}

.form-section p {
    text-align: center;
    color: #6b5e56;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

fieldset {
    border: 2px solid #f5c2c0;
    border-radius: 10px;
    padding: 20px;
}

legend {
    font-weight: bold;
    color: #F297A0;
    padding: 0 10px;
}

label {
    font-weight: 500;
    margin-top: 10px;
}

input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 15px;
    width: 97%;
}

button {
    margin-top: 20px;
    background-color: #F297A0;
    border: none;
    padding: 12px;
    border-radius: 10px;
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #f67b86;
}

/* ===== RODAPÉ ===== */
footer {
    background-color: #F297A0;
    text-align: center;
    padding: 45px 0;
    font-size: 13px;
}

footer .social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 0px;
}

footer .social-icons img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    aspect-ratio: 1 / 1;
}